<div id = "account_detail">
  <!-- <fieldset>
    <legend><h2 class="top">My Account</h2></legend>    
    <p><span><b>e-mail: </b></span><span class="rightspan">{{user.username}}</span></p>
    <p><span><b>First name: </b></span><span class="rightspan">Xin</span></p>
    <p><span><b>Last name: </b></span><span class="rightspan">Shan</span></p>
  </fieldset> -->
  	<div id = "account_info">
  		<fieldset class="test">
	    	<legend class="test"><h2>My Account</h2></legend>
			<dl class="dl-horizontal">
				<dt>e-mail</dt>
				<dd>{{user.username}}</dd>
				<dt>First name</dt>
				<dd>{{user.firstname}}</dd>
				<dt>Last name</dt>
				<dd>{{user.firstname}}</dd>
				<dt>Contact</dt>
				<dd>{{user.firstname}}</dd>
			</dl>
		</fieldset>
		<button>Modify</button>
			<button>Rent my parking lot</button>
	</div>

</div>