<div>
	<div id = "post_info">
  		<fieldset class="test">
	    	<legend class="test"><h2>Post my parking slot</h2></legend>
			<dl class="dl-horizontal">
				<dt>Renter Name</dt>
				<dd>{{username}}</dd>
				<dt>Email</dt>
				<dd></dd>
				<dt>Area</dt>
				<dd><select></select></dd>
				<dt>Zipcode</dt>
				<dd><input type="text"></dd>
				<dt>Address Line1</dt>
				<dd><input type="text"><span>(Street, City, State)</span></dd>
				<dt>Address Line2</dt>
				<dd><input type="text"><span>(APT, Number)</span></dd>
				<dt>Rent Date</dt>
				<dd><input type="date"></dd>
				<dt>From</dt>
				<dd><input type="time">to<input type="time"></dd>
			</dl>
			<button>Submit</button>
		</fieldset>
	</div>
</div>